.movie__cards {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 240px;
  margin-bottom: 24px;
}

@media (min-width: 576px) {
    .movie__cards {
      flex-direction: row;
      align-items: center;
      /* width: calc(50% - 12px); */
      margin-right: 24px;
      margin-bottom: 24px;
    }
  }
  
  @media (min-width: 768px) {
    .movie__cards {
      /* width: calc(33.33% - 16px); */
    }
  }
  
  @media (min-width: 992px) {
    .movie__cards {
      /* width: calc(25% - 18px); */
    }
  }

.movie--img {
  position: relative;
  background-color: #f2f2f2;
  flex-shrink: 0;
  width: 100%;
  height: 0;
  padding-bottom: 150%;
}

.movie--img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie--info {
  padding: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-grow: 1;
  flex-shrink: 1;
}
.movie--info h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 4px;
}
.movie--info p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
