.movie__cards {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 240px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.movie__cards {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.movie--img {
  position: relative;
}

.movie__cards :nth-child(5) {
  width: calc(40% - 10px);
}

.movie__cards :nth-child(5) {
  width: calc(80% - 10px);
  transition: width 0.5s ease;
}

.movie--info {
  margin: 1rem 0;
}
.movie--info h3 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.movie--info p {
  display: flex;
  gap: 0.8rem;
  font-size: 12px;
  color: #e0e3e8;
}
