.movie__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie--img {
  width: calc(70% - 10px);
  margin-bottom: 20px;
  height: 200px;
  background-color: #ccc;
}

.movie__cards :nth-child(5) {
  width: calc(40% - 10px);
}

.movie__cards :nth-child(5) {
  width: calc(80% - 10px);
  transition: width 0.5s ease;
}

.movie--info {
  margin: 1rem 0;
}
.movie--info h3 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.movie--info p {
  display: flex;
  gap: 0.8rem;
  font-size: 12px;
  color: #e0e3e8;
}
