.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
	margin: 1rem 0;
}
.main__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
}
.main__content p {
	font-size: 20px;
}
.main__content div {
	display: flex;
	gap: 1.5rem;
}

.main__movie--card {
	margin-top: 2rem;
	padding-left: 1rem;
}
@media screen and (min-width: 1024px) {
	main {
		margin: 3rem 0;
	}
	.main__content {
		padding: 0 6%;
	}
	.main__movie--card {
		padding-left: 6%;
	}
}
@media screen and (min-width: 1440px) {
	.main__content {
		padding: 0 8%;
	}
	.main__movie--card {
		padding-left: 8%;
	}
}