@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Archivo:wght@400;600&display=swap");

header {
  padding: 1rem;
  background: #1d283c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.navbar-logo img {
  height: 2rem;
  margin-right: 1rem;
}

.search__input {
  display: none;
}
.search__input:focus,
.search__input:focus-visible,
.search__input:focus-within {
  outline: 1px solid #fff;
}
.search__input img {
  width: 13px;
}
.search__input input {
  flex-grow: 1;
  background-color: transparent;
  border: 0;
  color: #fff;
}
.search__input input::placeholder {
  color: #8f929b;
  font-size: 12px;
  line-height: 2px;
}
.search__input input:focus,
.search__input input:focus-visible {
  border: 0;
  outline: 0;
}
@media screen and (min-width: 1024px) {
  header form {
    width: 28%;
  }
  header > nav {
    max-width: 90vw;
    margin: 4px auto;
  }
  .search__bar > img {
    display: none;
  }
  .search__input {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1b1f32;
    padding: 8px 6px;
    border-radius: 6px;
    border: 1px solid #494d61;
  }
}
@media screen and (min-width: 1440px) {
  header > nav {
    max-width: 85vw;
  }
}
